@import "tailwindcss";

@theme {
  --font-mono: "JetBrains Mono", "Roboto Mono", monospace;
  --font-sans: "Inter", "Outfit", system-ui, sans-serif;
  
  --color-brand-primary: #000000;
  --color-brand-secondary: #ffffff;
  --color-accent: #333333;
}

:root {
  font-family: var(--font-sans);
  background-color: #f8f8f8;
  color: #1a1a1a;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
